<?xml version="1.0" encoding="utf-8"?>
<!--
   This file is part of Tische, which is copyright (c) 2018 SiKol Ltd.
   Refer to README.md in the Tische distribution for licensing and
   distribution terms.
-->
<configuration>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
  </startup>
</configuration>