<?xml version="1.0" encoding="utf-8"?>
<!--
   This file is part of Tische, which is copyright (c) 2018 SiKol Ltd.
   Refer to README.md in the Tische distribution for licensing and
   distribution terms.
-->
<packages>
  <package id="CommandLineParser" version="2.2.1" targetFramework="net452" />
  <package id="CommandLineParser.FSharp" version="2.2.1" targetFramework="net452" />
  <package id="crispin.fop" version="2.4.0" targetFramework="net452" />
  <package id="FSharp.Configuration" version="1.5.0" targetFramework="net471" />
  <package id="FSharp.Core" version="4.5.2" targetFramework="net471" />
  <package id="FSharp.Data" version="2.4.6" targetFramework="net471" />
  <package id="FSharp.Data.Xsd" version="1.0.2" targetFramework="net471" />
  <package id="FsRegEx" version="0.7.2" targetFramework="net452" />
  <package id="IKVM" version="8.1.5717.0" targetFramework="net452" />
</packages>